@font-face {
    font-family: 'Font';
    src: url(bilder/Inter.ttf);
}

body {
    font-family: Font;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(128, 128, 128, 0.503);
    padding-bottom: 10px;
    font-size: 13.5px;
}

.linkstyle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlinks {
    display: flex;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

.navlinks:hover {
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    margin: 0;
}

.get-barky-free {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline;
    border-radius: 5px;
    margin: 0;
}

#barkypic {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.linkarrow {
    margin: 5px;
}

.navbar p {
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

#border-between-links {
    border-right: solid 1px rgba(128, 128, 128, 0.507);
    padding: 0px 10px;
}

/* HÄR SLUTAR NAVBAR */

/* Header */

.header {
    display: flex;
    width: 800px;
    margin: auto;
    padding: 50px;
}

#header-pic {
    width: 100%;
}

.textbox h1 {
    margin-bottom: 0;
}

.textbox p {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 12px;
}