@font-face {
    font-family: 'Font';
    src: url(bilder/Inter.ttf);
}

body {
    font-family: Font;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(128, 128, 128, 0.503);
    padding: 10px 0px;
    font-size: 13.5px;
    position: fixed;
    right: 20px;
    left: 20px;
    background-color: white;

}

.link {
    color: black;
    text-decoration: none;
}

.linkstyle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlinks {
    display: flex;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    font-size: 13px;
}

.navlinks:hover {
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    margin: 0;
}

.get-barky-free {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 105px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.get-barky-free:hover {
    background-color: rgba(0, 0, 0, 0.83);
}

#barkypic {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.linkarrow {
    margin: 5px;
}

.navbar p {
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

#border-between-links {
    border-right: solid 1px rgba(128, 128, 128, 0.507);
    padding: 0px 10px;
}

/* HÄR SLUTAR NAVBAR */

.container {
    max-width: 1000px;
    margin: auto;
}

/* Header */

.header {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: auto;
    padding: 100px 0px 50px 0px;
}

#header-pic {
    width: 50%;
    object-fit: contain;
    /* bilden krymper med webbläsarfönstret */
}

.textbox {
    width: 50%;
}

.textbox h1 {
    margin-bottom: 0;
    font-size: 53px;
}

.textbox .get-barky-free {
    margin: 30px 0px;
}

.sub-text {
    padding: 30px 0px;
    font-size: 15px;
    font-weight: 320;
}

/* Header slutar här */

/* Companys */

.company {
    width: 100%;
    margin: auto;
    text-align: center;
    border-top: solid 1px rgba(128, 128, 128, 0.277);
    border-bottom: solid 1px rgba(128, 128, 128, 0.277);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.company img {
    width: 80px;
    object-fit: contain;
    padding: 10px 8px 12px 24px;
}

/* Companys SLUTAR HÄR */

/* SEKTION 1 BÖRJAR HÄR*/
.section {
    width: 100%;
    margin: auto;
}

.section-text {
    width: 50%;
}

.same-text {
    color: #666666;
    padding-bottom: 40px;
    font-size: 15px;
}

.section-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.text-under-img {
    color: #999999;
    text-align: center;
    font-size: 36px;
    font-weight: 550;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.author img {
    height: 50px;
}

.author-name {
    margin: 0;
    font-size: 15px;
    font-weight: 450;
}

.author-title {
    margin: 0;
    font-size: 12px;
    font-weight: 350;
    color: #7f7f7f;
}

.author-text {
    margin-left: 5px;
}

.same-header {
    margin: 0;
    padding-bottom: 10px;
    font-size: 36px;
}

#free-plan-header {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

/* Checkbox */

.checkbox-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.checkbox-frame {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
    padding: 10px;
    padding-left: 0;
}

#checkbox-text-right {
    color: black;
}

.checkbox-img {
    width: 17px;
}

.checkbox-text {
    padding-left: 0;
    font-size: 14px;
    color: #7f7f7f;
}

#last-frame-no-border {
    border-bottom: 0;
}

.free-plan {
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    padding: 80px 0px;

}

.less-padding-under-text {
    padding: 0px;
}

/*Building boxes*/

.building-container {
    padding: 50px 0px;
}

.building-header{
    font-size: 24px;
    margin: 0;
}

.boxes-text {
    font-size: 15px; 
    color: #7f7f7f;
    font-weight: 320;
    padding: 0px 15px;
}

.building-boxes-container {
    display: flex;
    justify-content: center;
}

.building-box {
    width: 30%;
    text-align: center;
}

.text-in-center{
    text-align: center;
}

.building-box a {
    color: black;
}

.border-right {
    border-right: solid 1px lightgray;
}

#box-space1 {
    padding-left: 20px;
}

/* RATINGS */

.dogs-love-us {
    text-align: center;
    font-size: 36px;
}

.ratings-container {
    display: flex;
    gap: 50px;
    padding: 30px 0px;
}

.ratings-img {
    width: 50%;
}

#ratings-header {
    font-size: 24px;
    margin-bottom: 0px;
}

#ratings-sub-text {
    font-size: 15px;
    font-weight: 300;
    padding-right: 30px;
}

.ratings-text {
    width: 50%;
}


/* PERCENT BÖRJAR HÄR*/

.percent-container {
    display: flex;
    justify-content: space-around;
    color: #666666;
    text-align: center;
}

.percent-header {
    font-size: 45px;
    margin: 0;
}

.percent-sub-text {
    font-size: 13px;
    color:#7f7f7f;
}

.percent-border-right {
    border-right: solid 1px lightgrey;
}

.percent-boxes {
    padding: 0px 71px;
}

/* SUBSCRIPTION BÖRJAR HÄR*/

.subscription-container {
    text-align: center;
    padding: 50px 0px;
}

#get-barky-free-subscription {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*FOOTER BÖRJAR HÄR */

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 50px 100px;
    border-top: solid 1px lightgray;
}

.images-container {}

.menu-container {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.socials-container {
    width: 25%;
}

.social-medias {
    width: 100%;
    padding: 10px 0px;
}

#barky-img {
    width: 150px;
}

.socials-img {
    width: 27px;
}

.footer-text-container {
    padding-top: 30px;
}

.footer-text {
    font-size: 13px;
    padding: 10px 0px;
}

.menu-boxes {
    color: grey;
}

.menu-boxes-header {
    color: black;
    font-weight: 550;
    margin-top: 0;
    font-size: 15px;
}

.menu-boxes a {
    padding: 7px 0px;
    font-size: 15px;
    display: block;
    color: #7f7f7f;
    text-decoration: none;
}

@media (max-width:600px) {
    .navlinks {
        display: none;
    }

    #navright .get-barky-free {
        display: none;
    }

    #navright {
        background-image: url(bilder/hamburger.svg);
        background-repeat: no-repeat;
        margin-top: 10px;
    }

}