@font-face {
    font-family: 'Font';
    src: url(bilder/Inter.ttf);
}

body {
    font-family: Font;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(128, 128, 128, 0.503);
    padding: 10px;
    font-size: 13.5px;
    position: fixed;
    right:0;
    left:0;
    background-color: white;

}

.linkstyle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlinks {
    display: flex;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
}

.navlinks:hover {
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    margin: 0;
}

.get-barky-free {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline;
    border-radius: 5px;
    margin: 0;
}

#barkypic {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.linkarrow {
    margin: 5px;
}

.navbar p {
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

#border-between-links {
    border-right: solid 1px rgba(128, 128, 128, 0.507);
    padding: 0px 10px;
}

/* HÄR SLUTAR NAVBAR */

.container{
    max-width: 1000px;
    margin:auto;
}

/* Header */

.header {
    display: flex;
    width: 800px;
    margin: auto;
    padding: 100px 0px 50px 0px;
}

#header-pic {
    width: 100%;
}

.textbox h1 {
    margin-bottom: 0;
}

.textbox p {
    margin-top: 0;
    padding-top: 10px;
    font-size: 12px;
}

.textbox .get-barky-free{
    margin:30px 0px;
}

.sub-text{
    padding: 30px 0px;;
}
/* Header slutar här */

/* Companys */

.company{
    width: 800px;
    margin: auto;
    text-align: center;
    border-top: solid 1px rgba(128, 128, 128, 0.277);
    border-bottom: solid 1px rgba(128, 128, 128, 0.277);
}
.company img{
    width: 80px;
    padding: 10px;
}

/* Companys SLUTAR HÄR */

/* SEKTION 1 BÖRJAR HÄR*/
.section{
    width: 800px;
    margin: auto;
    padding: 40px;
}
.section-text{
    width: 50%;
}
.section p {
    color: #999999;
}
.section-img{
    width: 800px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.text-under-img{
    color: #999999;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
}

.author{
    display: flex;
    justify-content: center;
    align-items: center;
}
.author img{
height:40px;
}

.author h6,p{
    margin: 0;
    font-size: 12px;
}

