@font-face {
    font-family: 'Font';
    src: url(bilder/Inter.ttf);
}

body {
    font-family: Font;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */

#barkypic {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 20px;
    left: 20px;

    border-bottom: solid 1px rgba(128, 128, 128, 0.503);
    background-color: white;
    padding: 10px 0px;
}

.inner-nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.individual-nav-links-container {
    display: flex;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}

.individual-nav-links-container:hover {
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    margin: 0;
}

.link {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.get-barky-free {
    width: 105px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.get-barky-free:hover {
    background-color: rgba(0, 0, 0, 0.83);
}

.link-arrow {
    margin: 5px;
}

#border-between-links {
    border-right: solid 1px rgba(128, 128, 128, 0.507);
    padding: 0px 10px;
}

/* CONTAINER */

.container {
    max-width: 1000px;
    margin: auto;
    padding-top: 100px;
}

/* HEADER */

.header {
    display: flex;
    gap: 30px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}

#header-img {
    width: 50%;
    object-fit: contain;
    /* bilden krymper med webbläsarfönstret */
}

.header-textbox {
    width: 50%;
}

.header-textbox h1 {
    margin-bottom: 0;
    font-size: 53px;
}

.header-textbox .get-barky-free {
    margin: 30px 0px;
}

.sub-text {
    padding: 30px 0px;
    font-size: 15px;
    font-weight: 320;
}

/* COMPANYS */

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;

    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px 0px;

    text-align: center;
}

.border-top {
    border-top: solid 1px #e5e5e5;
}

.border-bottom {
    border-bottom: solid 1px #e5e5e5;
}

.company img {
    width: 100px;
    object-fit: contain;
    padding: 10px 0px;
}

/* SEKTION 1 */

.section {
    width: 100%;
    margin: auto;
}

.section-text {
    width: 50%;
}

.same-text {
    color: #666666;
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 1.5;
}

.section-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.text-under-img {
    color: #999999;
    text-align: center;
    font-size: 36px;
    font-weight: 550;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.author img {
    height: 50px;
}

.author-name {
    margin: 0;
    font-size: 15px;
    font-weight: 450;
}

.author-title {
    margin: 0;
    font-size: 12px;
    font-weight: 350;
    color: #7f7f7f;
}

.author-text {
    margin-left: 5px;
}

.same-header {
    margin: 0;
    padding-bottom: 10px;
    font-size: 36px;
}

#free-plan-header {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

/* Checkbox */

.checkbox-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.checkbox-frame {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #e5e5e5;
    padding: 10px;
    padding-left: 0;
}

#checkbox-text-right {
    color: black;
}

.checkbox-img {
    width: 17px;
}

.checkbox-text {
    padding-left: 0;
    font-size: 14px;
    color: #7f7f7f;
}

#last-frame-no-border {
    border-bottom: 0;
}

.free-plan {
    padding: 80px 0px;
}

.less-padding-under-text {
    padding: 0px;
}

/*Building boxes*/

.building-container {
    padding: 50px 0px;
}

.building-header {
    font-size: 24px;
    margin: 0;
}

.boxes-text {
    font-size: 15px;
    color: #7f7f7f;
    font-weight: 320;
    padding: 0px 15px;
}

.building-boxes-container {
    display: flex;
    justify-content: center;
}

.building-box {
    width: 30%;
    text-align: center;
}

.text-in-center {
    text-align: center;
}

.building-box a {
    color: black;
}

.border-right {
    border-right: solid 1px #e5e5e5;
}

/* RATINGS */

.dogs-love-us {
    text-align: center;
    font-size: 36px;
}

.ratings-container {
    display: flex;
    padding: 30px 0px;
}

.ratings-img {
    width: 50%;
    object-fit: contain;
}

#ratings-header {
    font-size: 24px;
    margin-bottom: 0px;
}

#ratings-sub-text {
    font-size: 15px;
    font-weight: 300;
    padding-right: 30px;
}

.ratings-text {
    width: 50%;
}

/* PERCENT BÖRJAR HÄR*/

.percent-container {
    display: flex;
    justify-content: space-around;
    color: #666666;
    text-align: center;
}

.percent-header {
    font-size: 53px;
    margin: 0;
}

.percent-sub-text {
    font-size: 18px;
    color: #7f7f7f;
}

.percent-border-right {
    border-right: solid 1px #e5e5e5;
}

.percent-boxes {
    width: 25%;
}

/* SUBSCRIPTION BÖRJAR HÄR*/

.subscription-container {
    text-align: center;
    padding: 50px 0px;
}

#get-barky-free-subscription {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*FOOTER BÖRJAR HÄR */

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 50px 100px;
}

.images-container {}

.menu-container {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.socials-container {
    width: 25%;
}

.social-medias {
    width: 100%;
    padding: 10px 0px;
}

#barky-img {
    width: 150px;
}

.socials-img {
    width: 27px;
}

.footer-text-container {
    padding-top: 30px;
}

.footer-text {
    font-size: 13px;
    padding: 10px 0px;
}

.menu-boxes {
    color: grey;
}

.menu-boxes-header {
    color: black;
    font-weight: 550;
    margin-top: 0;
    font-size: 15px;
}

.menu-boxes a {
    padding: 7px 0px;
    font-size: 15px;
    display: block;
    color: #7f7f7f;
    text-decoration: none;
}

/*BEFORE MEDIA QUERIES*/

#hamburger {
    width: 20px;
    padding-right: 20px;
    display: none;
}

/* MEDIA QUERIES*/

@media (max-width:600px) {

    /* NAV */
    .individual-nav-links-container {
        display: none;
    }

    .navbar-container .get-barky-free {
        display: none;
    }

    .navbar-container {
        position: initial;
        border: none;
    }

    #hamburger {
        display: initial;
    }

    /* HEADER */

    .container {
        padding: 0px 40px;
    }

    .header {
        flex-direction: column-reverse;
    }

    #header-img {
        width: 100%;
        padding-top: 100px;
    }

    .header-textbox {
        width: 100%;
        text-align: center;
    }

    .header-textbox h1 {
        margin-top: 0;
        font-size: 45px;
    }

    .get-barky-free {
        margin: auto;
        display: inline-block;
    }

    /* SEKTION 1,2,3 */
    .section-text {
        width: 100%;
        text-align: center;
    }

    .text-under-img {
        font-size: 24px;
    }

    .same-text {
        font-weight: 320;
        margin-top: 0;
    }

    /* CHECKBOX */

    .checkbox-container {
        width: 90%;
    }

    .checkbox-frame {
        padding: 0;
    }

    /* BUILDING BOXES */

    .building-boxes-container {
        flex-direction: column;
    }

    .building-box {
        width: 100%;
        padding-top: 30px;
    }

    .border-right {
        border: none;
    }

    /* RATINGS */
    .ratings-container {
        flex-direction: column;
    }

    .ratings-text {
        width: 100%;
    }

    .ratings-img {
        width: 100%;
    }

    /* PERCENT */
    .percent-container {
        flex-direction: column;
        align-items: center;
    }

    .percent-border-right {
        border: 0;
    }


    /* FOOTER */

    .footer-container {
        flex-direction: column;
        padding: 80px 30px 30px 30px;

    }

    .socials-container {
        width: 100%;
    }

    .menu-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu-boxes {
        width: 40%;
        padding-bottom: 30px;
    }

    .menu-boxes-header {
        margin: 0;
    }
}